@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #ecf0f3;
  font-family: poppins;
}
table {
  border-collapse: collapse;
  width: 750px;
  margin-bottom: 40px;
  border-radius: 20px;
}
th {
  text-align: left;
  padding: 10px;
}
td {
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 10px;
}
.right {
  text-align: right;
  width: 1px;
  white-space: nowrap;
}
.border-bottom {
  border-bottom: 2px solid #ecf0f3;
}
.border-bottom-top {
  border-bottom: 2px solid #ecf0f3;
  border-top: 2px solid #ecf0f3;  
}
.transparent {
  opacity: 0;
}
.custom-btn {
  width: 40px;
  height: 40px;
  color: #9ca3af;
  border-radius: 5px;
  padding: 0px;
  background: transparent;
  cursor: pointer;
  position: relative;
  display: inline-block;
  outline: none;
}
.custom-btn-new {
  height: 40px;
  color: #9ca3af;
  border-radius: 5px;
  padding-right: 20px;
  padding-left: 20px;
  background: transparent;
  cursor: pointer;
  position: relative;
  display: inline-block;
  outline: none;
}
.buttons-svg {
  display: block;
  margin: auto;
}
.btn {
  background: #f3f4f6;
  border: none;
  z-index: 1;
}
.btn:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
}
.btn:hover {
  color: #fff;
  background-color: #1a3865;
  transition: 0.5s;
}
.btn:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.btn:active {
  top: 2px;
}
.container {
  position: relative;
  width: 750px;
  height: auto;
  margin: auto;
  border-radius: 20px;
  padding: 0;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 14px 14px 20px #cbced1, -8px -8px 8px rgba(0, 0, 0, 0.06);
}
nav {
  width: 750px;
  margin: auto;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}
nav button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  margin-left: 10px;
}
.reload:hover {
  transform:rotate(-360deg);
  -ms-transform:rotate(-360deg);
  -webkit-transform:rotate(-360deg);
  -webkit-transition: -webkit-transform .8s ease-in-out;
}
h1 {
  margin-left: 10px;
  color: #1a3865;
}
.version {
  font-size: 18px;
  color: #888;
}
form {
  margin-left: auto;
}
.logout {
  display: inline-flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
  position: relative;
}

.logout::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease, border-bottom-color 0.3s ease;
  border-bottom: 2px solid transparent;
  margin-bottom: -1px;
}

.logout:hover::after {
  transform: scaleX(1);
  border-bottom-color: black;
}
p {
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
.hidden {
  display: none;
}
#popup {
  position: relative;
  width: 350px;
  height: 400px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  padding: 20px;
  border: 1px solid #ccc;
}
#popup .submit {
  display: inline;
  float: right;
  width: 45%;
  padding: 10px;
  border: none;
  outline: none;
  box-sizing: border-box;
    color: white;
  margin-top: 20px;
  background: #1a3865;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}
#popup .close {
  display: inline;
  width: 45%;
  padding: 10px;
  border: none;
  outline: none;
  box-sizing: border-box;
    color: black;
  margin-top: 20px;
  background: white;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}
#popup input {
  display: block;
  width: 100%;
  padding: 5px;
  border: none;
  outline: none;
  box-sizing: border-box;
    background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}
#popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  z-index: 10000;
}
[id^="toggleButton"] {
  display: inline-block;
  width: 45px;
  height: 25.5px;
  background-color: #ccc;
  position: relative;
  border-radius: 12.75px;
  transition: background-color 0.2s;
}

[id^="toggleButton"]:before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #fff;
  top: 2.25px;
  left: 2.25px;
  transition: left 0.2s;
}

[id^="toggleButton"].active {
  background-color: #1a3865;
}

[id^="toggleButton"].active:before {
  left: 21.75px;
}
[id^="divFile"] {
  position: fixed;
  width: 542px;
  height: 575x;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 10000;
}
[id^="divFileOverlay"] {
  position: fixed;
  width: 105vw;
  height: 105vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}
[id^="divFile"] button:last-child {
  display: inline;
  float: left;
  margin-left: 10px;
  width: 45%;
  padding: 10px;
  border: none;
  outline: none;
  box-sizing: border-box;
    color: black;
  margin-top: 20px;
  background: white;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}
[id^="divFile"] button {
  display: inline;
  float: rigth;
  margin-rigth: 10px;
  width: 45%;
  padding: 10px;
  border: none;
  outline: none;
  box-sizing: border-box;
    color: white;
  margin-top: 20px;
  background: #1a3865;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}
pre {
  text-align: left;
  width:520px;
  height:400px;
  overflow:auto;
}
.mobile nav {
  width: 95%;
}
.mobile nav span {
  font-size: 0.6em;
}
.mobile nav h1 {
  font-size: 3.8em;
}
.mobile table {
  width: 100%;
}
.mobile .container {
  width: 100vw;
}
.mobile .container table {
  font-size: 2.5em;
}
.mobile .container table small {
  font-size: 0.7em;
}
.mobile img {
  width: 4em;
}
.mobile .custom-btn {
  width: 1.7em;
  height: 1.7em;
  display: inline-block;
  vertical-align: middle;
}
.mobile td {
  padding-bottom: 7px;
}
.mobile .custom-btn-new {
  height: 3em;
  font-size: 0.8em;
}
.mobile table .right svg {
  width: 1.2em;
}
.mobile table small svg {
  width: 0.8em;
  height: 0.8em;
}
.mobile .container p {
  font-size: 2em;
}
.mobile nav svg {
  width: 3em;
  height: 3em;
}
.mobile #popup {
  width: 80%;
  height: auto;
}
.mobile #popup h3 {
  font-size: 2.5em;
}
.mobile #popup input {
  height: 2em;
  font-size: 2em;
}
.mobile #popup .close {
  height: 2em;
  font-size: 2em;
}
.mobile [id^="toggleButton"] {
  width: 57px;
  height: 36.5px;
  border-radius: 18.75px;
}
.mobile [id^="toggleButton"]:before {
  width: 29px;
  height: 29px;
  top: 3.25px;
}
.mobile [id^="toggleButton"].active:before {
  left: 24.75px;
}
.mobile pre {
  height: 650px;
  width: auto;
}
.mobile [id^="divFile"] {
  width: 80%;
}
.mobile [id^="divFile"] button {
  font-size: 0.9em;
  height: auto;
}
.mobile [id^="divFileOverlay"] {
  position: fixed;
  width: 105vw;
  height: 105vh;
  z-index: 9999;
}
